{% extends "base.html"%}
{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% load employee_tags %}

{% block active_product_backlog %}active{% endblock %}

<!-- This is page header and bredcrumb -->
{% block content_header %}
    <section class="content-header">
      <h1>
        SCRUM
        <small>Control Panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'scrum_home' %}"><i class="fa fa-dashboard"></i> SCRUM</a></li>
        <li><a href="{% url 'scrum_product_backlog_list' %}"> Product Backlogs</a></li>
        <li><a href="{% url 'scrum_product_backlog_detail' object.id %}"> {{object.name}}</a></li>
        <li class="active">Deatil</li>
      </ol>
    </section>
{% endblock %}

<!-- Add your content here -->
{% block content %}
<div class="row">
  <div class="col-md-12">
    <!-- Profile Image -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Detail Information <small>{{object.name}}</small></h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body box-profile">
        <div class="row">
          <div class="col-md-offset-11 col-md-1">
            <div class="row">
              <div class="col-md-12">                            
                <a class="pull-left" href="{% url 'scrum_product_backlog_update' object.id %}">
                  <i class="fa fa-pencil" style="font-size: 20px; color: #33CC33;" title="Edit {{object.user.get_full_name}}"  data-toggle="tooltip"></i>
                </a>
                <a class="pull-right" href="{% url 'scrum_product_backlog_delete' object.id %}">
                  <i class="fa fa-trash" style="font-size: 20px; color: #FF6633;" title="Delete {{object.user.get_full_name}}" data-toggle="tooltip"></i>
                </a>                            
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
              <h3 class="profile-username text-center">{{object.name}}</h3>
              <div class="box-body">
                <ul class="products-list product-list-in-box">
                    <li class="item">
                      <div class="product-info">
                        <span class="product-description">
                          <div class="col-md-10">
                            <h3><small><b>Created On:&nbsp;</b>{{object.created_on }}</small></h3>
                            <h3>
                              <small><b>Created By:&nbsp;</b>
                                <a href="{% url 'hris_employee_detail' object.created_by.id %}" target="_top">{{object.created_by.name}}</a>
                              </small>
                            </h3>
                          </div>
                        </span>
                      </div>
                    </li>
                </ul>
              </div><!-- /.box-body -->
          </div>
        </div>

      </div><!-- /.box-body -->
    </div><!-- /.box -->

    <!-- About Me Box -->
    <!-- /.box -->
  </div><!-- /.col -->
  <!-- /.col -->
</div>
{% endblock %} 
<!-- Add your javascript plugin src or code content here -->
{% block footer_js %}{% endblock %}