{% extends "base.html"%}
{% block title %}{% endblock %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{% static 'plugins/iCheck/flat/blue.css' %}">
{% endblock %}
<!-- This is page header and bredcrumb -->
{% block content_header %}
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'hris_home' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
{% endblock %}
<!-- Add your content here -->
{% block content %}
          
  <div class="row">
    <div class="col-md-7">
      <h3>{{object.name}}
        <a href="#" title="add-release" data-toggle="tooltip" class="pull-right"><i class="fa  fa-plus-circle" style="font-size: 30px; color: #3C8DBC;"></i></a>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7" id="release-accordion"> 
        {% include "scrum/release_backlog_list.html" %}
    </div>
    <div class="col-md-5">
      {% include "scrum/product_backlog_stories.html" %}
    </div><!-- /.col -->
  </div><!-- /.row -->
{% endblock %} 
<!-- Add your javascript plugin src or code content here -->
{% block footer_js %}
<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
<script type="text/javascript">
    $(function () {
        //Enable iCheck plugin for checkboxes
        //iCheck for checkbox and radio inputs
        $('.mailbox-messages input[type="checkbox"]').iCheck({
          checkboxClass: 'icheckbox_flat-blue',
          radioClass: 'iradio_flat-blue'
        });

        //Enable check and uncheck all functionality
        $(".checkbox-toggle").click(function () {
          var clicks = $(this).data('clicks');
          if (clicks) {
            //Uncheck all checkboxes
            $(this).closest('div').find("input[type='checkbox']").iCheck("uncheck");
            $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
          } else {
            //Check all checkboxes
            $(this).closest('div').find("input[type='checkbox']").iCheck("check");
            $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
          }
          $(this).data("clicks", !clicks);
        });

        //Handle starring for glyphicon and font awesome
        $(".mailbox-star").click(function (e) {
          e.preventDefault();
          //detect type
          var $this = $(this).find("a > i");
          var glyph = $this.hasClass("glyphicon");
          var fa = $this.hasClass("fa");

          //Switch states
          if (glyph) {
            $this.toggleClass("glyphicon-star");
            $this.toggleClass("glyphicon-star-empty");
          }

          if (fa) {
            $this.toggleClass("fa-star");
            $this.toggleClass("fa-star-o");
          }
        });
      });
</script>

<style type="text/css">

</style>
{% endblock %}
