{% load employee_tags %}
{% load prettytimes_tags %}

<div class="box box-solid">
  <div class="box-header header-shadow">
    <h3 class="box-title">Stories</h3>
    <div class="box-tools">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body no-padding body-shadow">
    <div class="mailbox-controls">
      <!-- Check all button -->
      <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
      <div class="btn-group">
        <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
        <select class="btn btn-default btn-sm">
          <option>---- select release ---</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div><!-- /.btn-group -->
    <div class="table-responsive mailbox-messages">
      <table class="table table-hover table-striped">
        <tbody>
          {% for story in release.userstory_set.all %}
          <tr>
            <td><input name="user_story" value="{{story.id}}" type="checkbox"></td>
            <td class="mailbox-subject"><a href="{% url 'scrum_user_story_detail' story.product_backlog.id story.id %}"><b>{{story.title}}</b></a> - {{story.description|truncatechars:30}}<br/>{{story.created_on | relative_time }}, by <a href="{% url 'hris_employee_detail' story.created_by.id %}">{{story.created_by.name}}</a></td>
            <td class="mailbox-attachment">

          {% ifrole PRODUCT_OWNER %}
            {% comment %}
              <a href="#" title="Edit" data-toggle="tooltip"><i class="fa fa-pencil icon-edit-small" title="Edit" data-toggle="tooltip"></i></a>
            {% endcomment %}
              <a href="#" title="Delete" data-toggle="tooltip"><i class="fa fa-trash icon-delete-small" title="Delete" data-toggle="tooltip"></i></a>
          {% endifrole %}
            </td>
          </tr>
          {% empty %}
            <tr>
              <td>
                No user stories available.
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table><!-- /.table -->
    </div><!-- /.mail-box-messages -->
  </div><!-- /.box-body -->
  </div>
</div><!-- /. box -->