{% load scrum_tags %}
{% load employee_tags %}
<form action="{% url 'scrum_user_story_to_sprint' release.id %}" method="POST">
  {% csrf_token %}
  <div class="box box-solid">
    <div class="box-header header-shadow">
      <h3 class="box-title">Stories</h3>
      <div class="box-tools">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div><!-- /.box-header -->
    <div class="box-body no-padding body-shadow">
      <div class="mailbox-controls">
        <!-- Check all button -->
        {% ifrole SCRUM_MASTER PRODUCT_OWNER %}
        <span class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></span>
        <div class="btn-group">
          <select name="sprint_id" class="btn btn-default btn-sm" onchange="this.form.submit()">
            <option>---- Select Sprint ---</option>
            {% for sprint in release.sprint_set.all %}
              {% if not sprint.is_deleted %}
                <option value="{{sprint.id}}">{{sprint.name}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div><!-- /.btn-group -->
        {% endifrole %}

        {% if release %}
        <!--  -->
          {% load_release_stories release user %}
        {% endif %}
    </div><!-- /.box-body -->
    </div>
  </div><!-- /. box -->
</form>