{% load prettytimes_tags %}
{% load employee_tags %}

<div class="table-responsive mailbox-messages">
  <table class="table table-hover table-striped">
    <tbody>
      {% for story in sprint.userstory_set.all %}
      <tr>
        <td class="mailbox-subject"><a href="{% url 'scrum_user_story_detail' story.product_backlog.id story.id %}"><b>{{story.title}}</b></a> - {{story.description|truncatechars:30}}<br/>{{story.created_on | relative_time }}, by <a href="{% url 'hris_employee_detail' story.created_by.id %}">{{story.created_by.name}}</a></td>
        <td class="no-margin developer-image-bg">
          <img src="/media/hris/employee-image/IMG_1148.JPG " class="developer-info-image" alt="User Image">
          <figcaption><small>Dev.</small></figcaption>
        </td>
        <td class="no-margin tester-image-bg">
        <img src="/media/hris/employee-image/IMG_1148.JPG " class="developer-info-image" alt="User Image">
        <figcaption><small>Tes.</small></figcaption>
        </td>
        <td class="mailbox-attachment">
      {% ifrole PRODUCT_OWNER %}
          <a href="{% url 'scrum_sprint_user_story_delete' story.id %}" title="Delete" data-toggle="tooltip"><i class="fa fa-trash icon-delete-small" title="Delete" data-toggle="tooltip"></i></a>
      {% endifrole %}
        </td>
      </tr>
      {% empty %}
        <tr>
          <td>
            No user stories available.
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table><!-- /.table -->
</div><!-- /.mail-box-messages -->