{% load prettytimes_tags %}
{% load employee_tags %}

<div class="table-responsive mailbox-messages">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th></th>
        <th width="80"><small style="font-size: 10px;">Developer</small></th>
        <th width="80"><small style="font-size: 10px;">Tester</small></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for story in sprint.userstory_set.all %}
      <tr>
        <td class="mailbox-subject"><a href="{% url 'scrum_user_story_detail' story.product_backlog.id story.id %}"><b>{{story.title}}</b></a> - {{story.description|truncatechars:30}}<br/>{{story.created_on | relative_time }}, by <a href="{% url 'hris_employee_detail' story.created_by.id %}">{{story.created_by.name}}</a></td>
        <td class="no-margin developer-image-bg"  width="60">
          <a href="{% url 'scrum_user_story_assign_developer' story.id %}"  data-toggle="tooltip" title="Developer:&nbsp;{% if story.assiged_developer %}{{story.assiged_developer.name}}{% else %}Click to assign{% endif %}">
            {% if story.assiged_developer %}
              {% profile_image story.assiged_developer "developer-info-image" %}
              <figcaption><small><a  title="More about&nbsp;{{story.assiged_developer.name}}" data-toggle="tooltip" href="{% url 'hris_employee_detail' story.assiged_developer.id  %}"><i class="fa fa-info-circle icon-edit-samll"></i></a></small></figcaption>
            {% else %}
            <div class="developer-info-image">            
              <i class="fa fa-plus-circle icon-add-small"></i>
            </div>
            {% endif %}
          </a>
        </td>
        <td class="no-margin tester-image-bg" width="60">
          <a href="{% url 'scrum_user_story_assign_tester' story.id %}" data-toggle="tooltip" title="Tester:&nbsp;{% if story.assiged_tester %}{{story.assiged_tester.name}}{% else %}Click to assign{% endif %}">
          {% if story.assiged_tester %}
            {% profile_image story.assiged_tester "developer-info-image" %}
            <figcaption><small><a  title="More about&nbsp;{{story.assiged_tester.name}}" data-toggle="tooltip" href="{% url 'hris_employee_detail' story.assiged_tester.id  %}"><i class="fa fa-info-circle icon-edit-samll"></i></a></small></figcaption>
          {% else %}
          <div class="developer-info-image">            
            <i class="fa fa-plus-circle icon-add-small"></i>
          </div>
          {% endif %}
          </a>
        </td>
        <td class="mailbox-attachment">
      {% ifrole PRODUCT_OWNER %}
          <a href="{% url 'scrum_sprint_user_story_delete' story.id %}" title="Delete" data-toggle="tooltip"><i class="fa fa-trash icon-delete-small" title="Delete" data-toggle="tooltip"></i></a>
      {% endifrole %}
        </td>
      </tr>
      {% empty %}
        <tr>
          <td>
            No user stories available.
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table><!-- /.table -->
</div><!-- /.mail-box-messages -->