{% extends "base.html"%}
{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% load employee_tags %}
<!-- This is page header and bredcrumb -->
{% block content_header %}
    <section class="content-header">
      <h1>
        SCRUM
        <small>Control Panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'scrum_home' %}"><i class="fa fa-dashboard"></i> SCRUM</a></li>
        <li><a href="{% url 'scrum_product_backlog_list' %}"> Product Backlogs</a></li>
        <li><a href="{% url 'scrum_product_backlog' object.product_backlog.id %}"> {{object.product_backlog.name}}</a></li>
        <li><a href="{% url 'scrum_user_story_detail' object.product_backlog.id object.id %}"> {{object.title |truncatechars:50}}</a></li>
        <li class="active">Detail</li>
      </ol>
    </section>
{% endblock %}
<!-- Add your content here -->
{% block content %}
<div class="row">
  <div class="col-md-12">
    <!-- Profile Image -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">User Story <small> {{object.title}}</small></h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body box-profile">
        <div class="row">
          <div class="col-md-offset-1 col-md-10">          
          </div>
          <div class="col-md-1">
            <div class="row">
              <div class="col-md-12"> 
              {% ifrole PRODUCT_OWNER %}                           
                <a class="pull-left" href="{% url 'scrum_user_story_update' object.product_backlog.id object.id %}">
                  <i class="fa fa-pencil" style="font-size: 20px; color: #33CC33;" title="Edit {{object.user.get_full_name}}"  data-toggle="tooltip"></i>
                </a>
                <a class="pull-right" href="{% url 'scrum_user_story_delete' object.product_backlog.id object.id %}">
                  <i class="fa fa-trash" style="font-size: 20px; color: #FF6633;" title="Delete {{object.user.get_full_name}}" data-toggle="tooltip"></i>
                </a>                            
              { endifrole %}                           
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <tr>                  
                <td><b>Title</b></td>
                <td>{{object.title}}</td>
              </tr>
              <tr>                  
                <td><b>Description:</b></td>
                <td>{{object.description|linebreaks}}</td>
              </tr>
            </table>
          </div>
        </div>

      </div><!-- /.box-body -->
    </div><!-- /.box -->

    <!-- About Me Box -->
    <!-- /.box -->
  </div><!-- /.col -->
  <!-- /.col -->
</div>
{% endblock %} 
<!-- Add your javascript plugin src or code content here -->
{% block footer_js %}{% endblock %}