{% extends "base.html"%}
{% block title %}{% endblock %}
{% block head %}{% endblock %}
<!-- This is page header and bredcrumb -->
{% block content_header %}
    <section class="content-header">
      <h1>
        SCRUM
        <small>Control Panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'scrum_home' %}"><i class="fa fa-dashboard"></i> SCRUM</a></li>
        <li><a href="{% url 'scrum_product_backlog_list' %}"> Product Backlogs</a></li>
        {% if object %}
        <li><a href="{% url 'scrum_product_backlog' object.product_backlog.id %}">{{object.product_backlog.name}}</a></li>
        <li><a href="{% url 'scrum_user_story_detail' object.product_backlog.id object.id %}">{{object.title |truncatechars:50}}</a></li>
        {% endif %}
        <li class="active">{% if object %}Assign Developer{% else %}Create{% endif %}</li>
      </ol>
    </section>
{% endblock %}
<!-- Add your content here -->
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">{{object.title}}</h3>
        <small>&nbsp;Assign Developer</small>
      </div><!-- /.box-header -->
      <!-- form start -->
      <div class="row">
        
        <form class="col-md-8" action="" method="POST">
            <div class="box-body">
                {% csrf_token %}
                {% load bootstrap3 %}
                {% bootstrap_form form %}
            </div>
            <div class="box-footer">
              <a class="btn btn-default" href="{{request.META.HTTP_REFERER}}">Cancel</a>
              <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div><!-- /.box-footer -->
        </form>        
      </div>
    </div>
  </div>

</div>
{% endblock %} 
<!-- Add your javascript plugin src or code content here -->
{% block footer_js %}{% endblock %}