.employee-profile-avatar {
    /*vertical-align: middle;*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*margin-left: -100%;*/
    /*margin-top: -50px;*/
    max-height: 50px;
    max-width: 50px;
}

.header-shadow{
	background-color: #F4F4F4;
    background: #F4F4F4;
}

.body-shadow{
    border: 1px solid #F4F4F4;
}

.icon-add {
    font-size: 30px;
    color: #3C8DBC;
}

.icon-edit {
    font-size: 20px;
    color: #33CC33;
}

.icon-delete {
    font-size: 20px;
    color: #FF6633;
}

.icon-add-small {
    font-size: 20px;
    color: #3C8DBC;
}

.icon-edit-small {
    font-size: 15px;
    color: #33CC33;
}

.icon-delete-small {
    font-size: 15px;
    color: #FF6633;
}

.developer-info-image {
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: -2px;
    border-radius: 30%;
}

.scrum-master-info{
    /*font-size: 20px;*/
    /*color: #000;*/
    background-color: #C2D7E7;
}

.scrum-master-info a{
    /*font-size: 20px;*/
    color: blue !important;   

    text-decoration: none !important; 
}

.employee-profile-avatar-small {
    /*vertical-align: middle;*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*margin-left: -100%;*/
    /*margin-top: -50px;*/
    max-height: 25px;
    max-width: 25px;
}

.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}

.alert-info {
    color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}

.alert-danger {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}

.alert-warning {
    color: #8a6d3b !important;
    background-color: #fcf8e3 !important;
    border-color: #faebcc !important;
}