{% extends "base.html"%}
{% block title %}{% endblock %}
{% block head %}{% endblock %}
<!-- This is page header and bredcrumb -->
{% load employee_tags %}

{% block active_employees %}active{% endblock %}

{% block content_header %}
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'hris_home' %}"><i class="fa fa-dashboard"></i> HRIS</a></li>
        <li class="active">Employees</li>
      </ol>
    </section>
{% endblock %}
<!-- Add your content here -->
{% block content %}
<!-- EMPLOYEE LIST -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Employee List</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div><!-- /.box-header -->

    {% ifrole HRADMIN %}
    <div class="box-header with-border">
      <h3 class="box-title"> </h3>
      <div class="box-tools pull-right">
          <a  href="{% url 'hris_employee_create' %}">
            <i title="Add New Employee" class="fa  fa-plus-circle" style="font-size: 40px; color: #3C8DBC;"></i>
          </a>
      </div>
    </div><!-- /.box-header -->
    {% endifrole %}

    <div class="box-body">
      <ul class="products-list product-list-in-box">
        {% for employee in employee_list %}
          <li class="item">
            {% load employee_tags %}
            <div class="product-img">
              {% profile_image employee %}            
            </div>
            <div class="product-info">
              <a href="javascript::;" class="product-title">
                {{employee.user.get_full_name}}
                <a class="pull-right" href="{% url 'hris_employee_update' employee.id %}">
                  <i class="fa fa-edit" style="font-size: 20px; color: #00A65A;"></i>
                </a>
              </a>
              <span class="product-description">
                <span><small><b>EMP ID:&nbsp;</b>{{employee.emp_id}}</small></span></br>
                <span><small><b>Joined:&nbsp;</b>{{employee.user.date_joined | date}}</small></span><br>
                <a href="mailto:{{employee.user.email}}" target="_top">{{employee.user.email}}</a><br>
                {{employee.address}}<br>
                {% for role in employee.roles.all %}
                  <span class="label label-success">
                    <i class="fa {{role.icon_class}}"></i>
                    {{role.name}}
                  </span>
                  <span>&nbsp;&nbsp;</span>
                {% endfor %}
              </span>
            </div>
          </li>
          {% endfor %}
      </ul>
    </div><!-- /.box-body -->
    {% comment %}
    <div class="box-footer text-center">
      <a href="javascript::;" class="uppercase">View All Employees</a>
    </div><!-- /.box-footer -->
    {% endcomment %}
  </div><!-- /.box -->

{% if is_paginated %}
  {% load paginator %}
  {% paginator %}
{% endif %}

{% endblock %} 
<!-- Add your javascript plugin src or code content here -->
{% block footer_js %}

{% endblock %}