{% extends "base.html"%}
{% block title %}{% endblock %}
{% block head %}{% endblock %}
<!-- This is page header and bredcrumb -->
{% block content_header %}
    <section class="content-header">
      <h1>
        HRIS
        <small>Employee</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'hris_home' %}"><i class="fa fa-dashboard"></i>HRIS</a></li>
        <li><a href="{% url 'hris_employee_list' %}">Employees</a></li>
        <li><a href="{% url 'hris_employee_detail' object.id %}">{{object.user.get_full_name}}</a></li>
        <li class="active">Delete</li>
      </ol>
    </section>
{% endblock %}
<!-- Add your content here -->
{% block content %}
<div class="row">

      <div class="col-md-6">
      <!-- Horizontal Form -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Horizontal Form</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" action="" method="POST">
          {% csrf_token %}
          <div class="box-body">
              <div class="form-group">
                <p >Are you sure you want to delete this user, "{{object.user.get_full_name}}"?</p>
              </div> 
          </div><!-- /.box-body -->
          <div class="box-footer">
              <a class="btn btn-default" href="{{request.META.HTTP_REFERER}}">Cancel</a>
              <button class="btn btn-primary pull-right" type="submit" >Confirm</button>
          </div><!-- /.box-footer -->
        </form>
      </div><!-- /.box -->
    </div>
</div>
{% endblock %} 
<!-- Add your javascript plugin src or code content here -->
{% block footer_js %}{% endblock %}