{% extends "base.html"%}
{% block title %}{% endblock %}
{% block head %}{% endblock %}
<!-- This is page header and bredcrumb -->
{% load employee_tags %}

{% block active_my_task %}active{% endblock %}

{% block content_header %}
    <section class="content-header">
      <h1>
        Employee Tasks
        <small>Tasks</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'hris_home' %}"><i class="fa fa-dashboard"></i> HRIS</a></li>
        <li class="active">Tasks</li>
      </ol>
    </section>
{% endblock %}
<!-- Add your content here -->
{% block content %}
<!-- EMPLOYEE LIST -->
{% ifrole DEVELOPER TESTER%}
<div class="row">
    {% ifrole TESTER %}
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Development Tasks List</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <tbody>
                            {% regroup development_tasks by product_backlog as product_list %}
                                {% for product in product_list %}
                                <tr>
                                    <td colspan="3">                                        
                                        <h3>{{ product.grouper }}</h3>
                                    </td>
                                </tr>
                                    {% regroup product.list by release_backlog as release_list %}
                                    {% for release in release_list %}
                                        <tr>
                                            <td colspan="3">                                        
                                                <h4>{{ release.grouper }}</h4>
                                            </td>
                                        </tr>
                                        {% regroup release.list by sprint as sprint_list %}
                                        {% for sprint in sprint_list %}
                                        <tr>
                                            <td colspan="3">                                        
                                                <h5>{{ sprint.grouper }}</h5>
                                            </td>
                                        </tr>
                                        {% for story in sprint.list %}
                                              <tr>
                                                <td width="15px"><b>{{forloop.counter}}.</b></td>
                                                <td class="mailbox-subject">
                                                    <a href="{% url 'emptask_development_task_detail' story.id %}">
                                                        <b>{{story.title}}</b>
                                                    </a>
                                                    -{{story.description|truncatechars:30}}
                                                </td>
                                                <td>
                                                    <label class="badge badge-info">
                                                    {% if story.developer_effort %}
                                                        {{story.developer_effort}} hours
                                                    {% else %}
                                                        Not estimated
                                                    {% endif %}
                                                    </label>
                                                </td>
                                                <td>
                                                    {% if story.developer_effort == None %}
                                                        <a href="{% url 'emptask_development_estimate' story.id %}" title="Click to start task" data-toggle="tooltip"><i class="fa fa-times-circle icon-delete" ></i></a>
                                                    {% else %}
                                                        <a href="{% url 'emptask_development_estimate' story.id %}" title="Click to change estimation" data-toggle="tooltip"><i class="fa fa-check-circle icon-edit" ></i></a>
                                                    {% endif %}
                                                </td>
                                              </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endifrole %}
    {% ifrole DEVELOPER %}
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Testing Tasks List</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <tbody>
                            {% regroup testing_tasks by product_backlog as product_list %}
                                {% for product in product_list %}
                                <tr>
                                    <td colspan="3">                                        
                                        <h3>{{ product.grouper }}</h3>
                                    </td>
                                </tr>
                                    {% regroup product.list by release_backlog as release_list %}
                                    {% for release in release_list %}
                                        <tr>
                                            <td colspan="3">                                        
                                                <h4>{{ release.grouper }}</h4>
                                            </td>
                                        </tr>
                                        {% regroup release.list by sprint as sprint_list %}
                                        {% for sprint in sprint_list %}
                                        <tr>
                                            <td colspan="3">                                        
                                                <h5>{{ sprint.grouper }}</h5>
                                            </td>
                                        </tr>
                                        {% for story in sprint.list %}
                                              <tr>
                                                <td width="15px"><b>{{forloop.counter}}.</b></td>
                                                <td class="mailbox-subject">
                                                    <a href="{% url 'emptask_testing_task_detail' story.id %}">
                                                        <b>{{story.title}}</b>
                                                    </a>
                                                    -{{story.description|truncatechars:30}}
                                                </td>
                                                <td>
                                                    <label class="badge badge-info">
                                                    {% if story.tester_effort %}
                                                        {{story.tester_effort}} hours
                                                    {% else %}
                                                        Not estimated
                                                    {% endif %}
                                                    </label>
                                                </td>
                                                <td>
                                                    {% if story.tester_effort == None %}
                                                        <a href="{% url 'emptask_testing_estimate' story.id %}" title="Click to start task" data-toggle="tooltip"><i class="fa fa-times-circle icon-delete" ></i></a>
                                                    {% else %}
                                                        <a href="{% url 'emptask_testing_estimate' story.id %}" title="Click to change estimation" data-toggle="tooltip"><i class="fa fa-check-circle icon-edit" ></i></a>
                                                    {% endif %}
                                                </td>
                                              </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  
    {% endifrole %}
</div>
{% endifrole %}        

{% endblock %} 
<!-- Add your javascript plugin src or code content here -->
{% block footer_js %}
{% endblock %}